#navbar{
    color:red;
    background-color: gray;
}
.footer{
    color: white;
    background-color: black;
}
#button{
    background-color: blanchedalmond;
    border-radius: 20px;
    padding: 15px;
    margin: 20px;
    color: red;
}
.student{
    max-height: 400px;
    max-width: 200px;
    background-color: orange;

}
.movie{
    height: 500px;
    width: 300px;
    background-color: rgb(255, 252, 248);
    margin: 10px 20px;
    border-radius: 20px;
    text-align: center;
}
.movie:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0  
}
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#image{
    height: 300px;
    width: 200px;
}
#container{
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
#records{
    color:white;
    background-color: rgb(12, 12, 170);
    text-align: center;
    padding: 20px;
}
.data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 25px;
    margin-top: 20px;
}
.data_value{
    display: flex;
    justify-content: space-between;
    width: 50%;
    box-shadow: rgba(0,0,0,0.2);
    padding: 2px,4px,6px,8px;
}
